/* <<<<< there started styles for main page and some general none changing */

.big_containerforall {
    width: 1279px;
    height:1046px;
    margin: 0 auto;

}


a {
    text-decoration: none;
    color: black;
}



.upperbox  {
    display: flex;
    width: 1279px;
    height: 157px;
    background-color: #ffffcc;
    justify-content: space-between;
    font-family: Akrobat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    
    align-items: center;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(238, 173, 66, 0.55);
    -moz-box-shadow:    0px 6px 5px 0px rgba(238, 173, 66, 0.55);
    box-shadow:         0px 6px 5px 0px rgba(238, 173, 66, 0.55);
    
  }

  .logotype  {
    width: 247px;
    height: 114px;
    background-image: url(icon_pack/Daniillogo.png);    

  }
  .navigationblok {
      display: flex;
      width: 628px ;
      height:158px;
      align-items: center;
      justify-content: space-around;
     
      
  }

  /* <<<<<  Middle blocks */

  .container_for_portoliotextmain_and_artofperiodblock {
      display: flex;
  }

  .portoliotextmain  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 703px;
    height: 692px;
    background-color: #99ff99;
    align-items: center;



  }
  .site_portfolio {
    font-family: PTSans;
    font-size: 90px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

  }




  .artofperiodblock  {
    width: 584px;
    height: 691px;
    background-color: #ffffff;
    background-image: url(icon_pack/Art_of_period.png);  
  }
  .welcome {
    font-family: Pacifico;
    font-size: 72px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    

  }

  




  /* Middle blocks  >>>>> */


/* <<<<< downplace started there */

.ruler_for_container_social_with_rulers {
    width: 1279px;
    height: 91px;
    display: flex;
}

.container_social_with_rulers {
    display: flex;
    width: 1279px;
    height: 91px;
}


.downplace { 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        width: 1279px;
        height: 182px;
        background-color: #ffffcc;
        -webkit-box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 3px 20px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 3px 20px 0px rgba(50, 50, 50, 0.75);
      

}

/* .container_for_social {
        width: 214px;
        height: 91px;
} */




.ruler_for_space_insta {
    display: flex;
    width: 1040px;
}
.ruler_between_instagram_icon_and_vkontakte_icon {
    display: flex;
    width: 51px;
}
.ruler_after_icons_to_end {
    display: flex;
    width: 53px;
}


.instagramm {
        display: flex;
        background-image: url(icon_pack/vko.png);
        width: 68px ;
        height: 68px;
}
.vkontakte {
        display: flex;
        background-image: url(icon_pack/insta.png);
        width: 68px ;
        height: 68px;
}
/*  downplace ended upper >>>>> */

/* there ended styles for main page >>>>>*/

/*  <<<<< there starts  styles for page works */

/* <<<<< there starts middle container for page cards */

.big_container_of_styles_art {
    display: flex;
    width: 1279px;
    height:684.60px;
}

.ruler_between_left_and_to_webpage_card {
    width: 30px;
    height: 684.60px;
}
.webpage_card {

    width: 384px;
    height: 682px;
    background-image: url(icon_pack/webpage_card.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.ruler_between_webpage_card_and_computer_graphic_card {
    width: 37px;
    height: 684.60px;
}
.computer_graphic_card {
    width: 384px;
    height: 682px;
    background-image: url(icon_pack/Computer_graphic_card.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.ruler_between_computer_graphic_card_and_fine_arts_card {
    width: 37px;
    height: 684.60px;
}
.fine_arts_card {
    width: 384px;
    height: 682px;
    background-image: url(icon_pack/fine_arts_card.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.ruler_between_fine_arts_card_and_right_side {
    width: 37px;
    height: 684.60px;
}

/* there ends middle container for page cards >>>>> */


/* there ends styles of page works >>>>> */

/* <<<<< there starts styles of page webdesign */

.middle_container {
    display: flex;
    flex-direction: column;
    width: 1279px;
    height: 100%;
}
.ruler_between_up_and_cards {
    width: 1279px;
    height: 34px;
}
.middle_cards_box {
    display: flex;
    width:1279px;
    height: 553.39px;
}

.ruler_from_left_side_to_first_card {
    width:68px;
    height:538.5px;
}
.first_card {
    width: 542.7px;
    height: 538.5px;
    background-image: url(icon_pack/card_with_web_design_hoztovay.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.ruler_between_first_and_second_card {
    width:64.3px;
    height:538.5px;
}

.second_card {
    width: 542.7px;
    height: 538.5px;
    background-color: white;
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.ruler_between_second_card_to_right_side {
    width: 89px;
    height: 538.5px;
}


.describtion_container {
    display: flex;
    width: 1279px;
    height:96px;
}

.ruler_between_leftside_and_first_text_container {
    width: 84px;
    height: 96px;
}
.first_text_container {
    
    width: 505px;
    height: 96px;
    font-family: Akrobat;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
      
}
.ruler_between_first_text_container_and_second_text_container {
    width: 102px;
    height: 96px;
}
.second_text_container {
    width: 505px;
    height: 96px;
    font-family: Akrobat;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
   
}




/* there ends styles of page webdesign >>>>> */

/* <<<<< there starts opened_web_design_page styles */



.big_middle_center {
    height: 684px;
    width: 1279px;
   
    
}

.first_block_with_text_describtion {
    display: flex;
    
    width: 1279px;
    height:46px;
  
        font-family: Akrobat;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      


}
.ruler_from_leftside_to_text_container_of_describtion {
    width:337px;
    height: 46px;

}
.text_block_of_describtion {
    display: flex;
    align-items: center;

}

.ruler_from_text_to_right_side {
    width: 306px;
    height: 46px;
 
}
.block_with_slider {
    display: flex;

    width: 1279px;
    height: 594px;
   

}
.ruler_from_left_to_gallery_block {
    width: 172px;
    height: 594px;
    
}

.slider_gallery {
    width: 963px;
   
    display: flex;
   
    align-items: center;
}

.ruler_from_slider_to_right_end {
    width: 164px;
    height: 594px;

}

/* there ends opened_web_design_page styles >>>>> */



/* <<<<< there starts computer graphics pages */

.first_card_cg {
    width: 542.7px;
    height: 538.5px;
    background-image: url(icon_pack/Computer_graphic_content/work01mouse.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);

}

.second_card_cg {
    width: 542.7px;
    height: 538.5px;
    background-image: url(icon_pack/Computer_graphic_content/work02mouse.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}


.ruler_from_leftside_to_text_container_of_describtion_cg {
    width:420px;
    height: 46px;
}


 /* There ends computer graphic page >>>>> */


 /* <<<<< there starts fine arts page */



.first_card_fine {
    width: 542.7px;
    height: 538.5px;
    background-image: url(icon_pack/Fine_arts_works_page/Firts.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);

}

.second_card_fine {
    width: 542.7px;
    height: 538.5px;
    background-image: url(icon_pack/Fine_arts_works_page/Second.png);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 10px 5px 0px rgba(50, 50, 50, 0.75);

}


.first_block_with_text_describtion_fine {
    display: flex;
    
    width: 1279px;
    height:40px;
  
        font-family: Akrobat;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
}


.ruler_from_slider_to_end {
    width: 1279px;
    height: 50px;
 
}

.big_middle_center_fine {
    height: 729px;
    width: 1279px;
   
    
}

.slider_gallery_fine {
    width: 963px;
    height: 700px;
   
    display: flex;
   
    align-items: center;
}

.block_with_slider_fine {
    display: flex;

    width: 1279px;
    height: 700px;
   

}


 /* there ends fine arts page >>>>> */

 /* <<<<< there starts styles of news pages */

.biggest_middle_container  {
    display: flex;
    flex-direction: column;
    width: 1279px;
    height:689px;
  

}
.ruler_from_top_to_big_middle_container {
    width: 1279px;
    height:27px;
  

}

.block_for_middles {
    display: flex;
    width: 1279px;
    height: 680px;
  
}

.ruler_from_left_side_to_middle_news_container {
    width: 60px;
    height: 670px;
   
}

.middle_news_container {
    width: 1176px;
    height:670px ;
    background-image: url(icon_pack/under_construction.png);
}





 /* there ends styles of news page >>>>> */



/*  <<<<< there stars styles of contacts page */



.big_middle_middle_contacts {
    width: 1279px;
    height: 689px;


}

.ruler_from_to_middle_block_of_contacts {
    width: 1279px;
    height: 127px;
  
}

.block_for_phone_folder {
    width: 667.57px;
    height: 434.91px;

}
.ruler_from_up_folder_to_phone_folder {
    width: 667.57px;
    height: 43.63px;
  
}
.middle_line_of_phone_folder_block {
    display: flex;
    width: 667.57px;
    height: 342px;
  
}
.ruler_from_right_to_middle_phone_block {
    width: 157px;
    height: 342px;
   
}

.phone_image {
    width: 341px;
    height: 342px;
    background-image: url(icon_pack/phone.png);
}
.middlebox {
    display: flex;
    width: 1279px;
    height: 342px;
  
}
.icons_container {
    display:flex;
    flex-direction:column;
   
    justify-content: space-around   ;
    width: 130px;
    height: 393px;
   
}
.icon_vkontakte {
    width: 583px;
    height: 126px;
    display: flex;
}
.logovk_paste {
    width:126px;
    height:126px;
    background-image: url(icon_pack/vkontakte.png);
    border-radius: 16px;
}
.text_vkontakte_adress {
       
        align-items: flex-end;
        display: flex;
        font-family: Akrobat;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      
}


.icon_instagramm {
    width: 583px;
    height: 126px;
    display: flex;
}
.logoinst_paste {
    width:126px;
    height:126px;
    background-image: url(icon_pack/instagramm.png);
    border-radius: 16px;
}

.text_inst_adress {
    align-items: flex-end;
        display: flex;
        font-family: Akrobat;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
}

.icon_phonecall {
    width: 583px;
    height: 126px;
    display: flex;
}

.logophone_paste {
    width:126px;
    height:126px;
    background-image: url(icon_pack/phonecall.png);
    border-radius: 16px;

}

.text_phone_adress {
    align-items: flex-end;
        display: flex;
        font-family: Akrobat;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
}



/* there ends stlyes of contacts page */